In [1]:
print("hello world")

hello world

In [1]:
print('new')

new

In [2]:
2+1

3

In [3]:
2*2

4

In [4]:
3/2

1.5

Modulo or "Mod" Operator

In [5]:
7/4

1.75

In [6]:
4*1.75

7.0

In [7]:
7%4

3

In [8]:
23 % 2

1

In [9]:
2 ** 3

8

In [2]:
2 ** 5

32

In [1]:
7/4

1.75

In [3]:
999 ** 2

998001

In [4]:
9999 ** 12

998800659780049492080923920804949780006599880001

In [5]:
my_dogs = ("John","Hannah")

In [6]:
my_dogs

('John', 'Hello')

In [7]:
a = a + a

NameError: name 'a' is not defined

In [8]:
a = 10

In [13]:
a = a + a

In [14]:
a

80

In [15]:
type(a)

int

In [16]:
a = 30.1211121

In [17]:
type(a)

float

In [18]:
a = "John is beast"

In [19]:
type(a)

str

In [302]:
a = 'building'

In [1]:
a = 12

In [22]:
print(1)

1

In [305]:
my_income = 100

tax_rate = 0.1

my_taxes = my_income * tax_rate

In [306]:
my_taxes

10.0

In [307]:
my_salary = my_income - my_taxes

In [313]:
my_salary

90.0

In [309]:
clear

In [310]:
clear all

In [3]:
'hello'

'hello'

In [4]:
"world"

'world'

In [5]:
'this is also a string'

'this is also a string'

In [8]:
" I'm going on a run"

" I'm going on a run"

In [7]:
"I'm going on a run"

"I'm going on a run"

In [10]:
print("hello world one")
print("hello world two")

hello world one
hello world two

In [11]:
print('hello /tworld')

hello /tworld

In [12]:
print('hello \tworld')

hello 	world

In [13]:
print('hello \nworld')

hello
world

In [14]:
len(youngbin)

NameError: name 'youngbin' is not defined

In [15]:
len('youngbin')

8

In [16]:
len("I'am who")

8

In [17]:
print('Hello World')

Hello World

In [18]:
mystring = "Hello World"

In [19]:
mystring

'Hello World'

In [20]:
print(mystring)

Hello World

In [21]:
mystring[0]

'H'

In [22]:
mystring[8]

'r'

In [23]:
mystring

'Hello World'

In [24]:
mystring = 'abcdefghijk'

In [25]:
mystring[-1]

'k'

In [26]:
mystring[2:]

'cdefghijk'

In [27]:
mystring[:3]

'abc'

In [28]:
mystring[3:6]

'def'

In [29]:
mystring[1:3]

'bc'

In [32]:
mystring[::2]

'acegik'

In [33]:
mystring[2:10:2]

'cegi'

In [34]:
mystring[::-1]

'kjihgfedcba'

In [36]:
mystring="youngbin"

In [37]:
mystring[::-1]

'nibgnuoy'

In [38]:
mystring[-2:6:2]

''

In [39]:
mystring[0:6:2]

'yug'

In [41]:
'Hellow World'[9]

'r'

In [42]:
Name = 'Young'

In [44]:
last_letters = Name[1:]

In [45]:
'G' + last_letters

'Goung'

In [46]:
x = "Hello World"

In [53]:
x= x + " It is beautiful outside!"

In [54]:
x

'Hello World It is beautiful outside! It is beautiful outside! It is beautiful outside!'

In [55]:
letter = 'z'

In [56]:
letter * 40

'zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz'

In [57]:
x * 5

'Hello World It is beautiful outside! It is beautiful outside! It is beautiful outside!Hello World It is beautiful outside! It is beautiful outside! It is beautiful outside!Hello World It is beautiful outside! It is beautiful outside! It is beautiful outside!Hello World It is beautiful outside! It is beautiful outside! It is beautiful outside!Hello World It is beautiful outside! It is beautiful outside! It is beautiful outside!'

In [58]:
'2' + '3'

'23'

In [59]:
x = 'Hello World'

In [60]:
x.capitalize

In [61]:
x.upper()

'HELLO WORLD'

In [62]:
x.capitalize()

'Hello world'

In [63]:
x.split()

['Hello', 'World']

In [64]:
x = 'Hi this is a string'

In [66]:
x.split('i')

['H', ' th', 's ', 's a str', 'ng']

In [68]:
print('This is a string{}'.format(' INSERTED'))

This is a string INSERTED

In [72]:
print('The {0} {1} {0}'.format('fox','brown','quick'))

The fox brown fox

In [74]:
print('The {q} {b} {b}'.format(f='fox',b='brown',q='quick'))

The quick brown brown

In [335]:
result = 10/7739

In [336]:
result

0.001292156609381057

In [337]:
print("The result was {r:1.6f}".format(r=result))

The result was 0.001292

In [338]:
"{r:1.6f}".format(r=result)

'0.001292'

Lists in Python

In [62]:
name = "Jose"

In [92]:
print(f'Hello, his name is {name}')

Hello, his name is Jose

In [64]:
name = "Sam"
age = 3

In [65]:
print(f'{name} is {age} years old')

Sam is 3 years old

In [107]:
 print("Python {}!".format('rules'))

Python rules!

In [109]:
my_list = ['string',1,2,3.2]

In [110]:
len(my_list)

4

In [111]:
mylist = ['one','two','three']

In [113]:
mylist[1:]

['two', 'three']

In [115]:
another_list = ['four','five']

In [117]:
new_list = mylist + another_list

In [120]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [119]:
new_list[0] = 'ONE ALL CAPS'

In [122]:
new_list.append('six')

In [123]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [124]:
new_list.append('seven')

In [125]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six', 'seven']

In [126]:
new_list.pop()

'seven'

In [127]:
new_list[-1]

'six'

In [128]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [129]:
popped_item = new_list.pop()

In [130]:
popped_item

'six'

In [131]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [132]:
new_list.pop(0)

'ONE ALL CAPS'

In [133]:
new_list

['two', 'three', 'four', 'five']

In [134]:
new_list = ['a','e','x','b','c']

In [135]:
num_list = [4,1,8,3]

In [136]:
new_list.sort()

In [137]:
new_list

['a', 'b', 'c', 'e', 'x']

In [138]:
my_sorted_list = new_list.sort()

In [140]:
type(my_sorted_list)

NoneType

In [141]:
None

In [142]:
new_list.sort()
my_sorted_list = new_list

In [143]:
my_sorted_list

['a', 'b', 'c', 'e', 'x']

In [144]:
num_list

[4, 1, 8, 3]

In [145]:
num_list.sort()

In [186]:
num_list[2] = 4

In [187]:
num_list

[8, 4, 4, 1]

Dictionaries in Python

In [148]:
my_dict = {'key1':'value1','key2':'value2'}

In [149]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [150]:
my_dict['key1']

'value1'

In [151]:
prices_lookup = {'apple':2.99, 'orange':1.99,'milk':5.80}

In [152]:
prices_lookup['apple']

2.99

In [68]:
d = {'k1':123, 'k2':[0,1,2],'k3':{'insidekey':100}}

In [71]:
d['k3']['insidekey']

100

In [160]:
d['k3']['insidekey']

100

In [159]:
d['k2'][0]

0

In [161]:
d = {'key1':['a','b','c']}

In [164]:
mylist = d['key1']

In [165]:
mylist

['a', 'b', 'c']

In [166]:
letter = mylist[2]

In [167]:
letter.upper()

'C'

In [169]:
d['key1'][1].upper()

'B'

In [171]:
d ={ 'k1':100,'k2':200}

In [172]:
d

{'k1': 100, 'k2': 200}

In [173]:
d['k3'] = 300

In [174]:
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [175]:
d['k4'] = 400

In [176]:
d['k1'] = 'NEW VALUE'

In [180]:
d = {'k1': 100, 'k2': 200, 'k3': 300}

In [181]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [183]:
d.values()

dict_values([100, 200, 300])

In [184]:
d.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

Tuple!!!!!

In [188]:
t = (1,2,3,)

In [189]:
mylist = [1,2,3]

In [190]:
type(t)

tuple

In [191]:
type(mylist)

list

In [192]:
type(d)

dict

In [194]:
t = ('one', 2)

In [195]:
t = ('a','a','b')

In [198]:
t.count('a')

2

In [200]:
t.index('b')

2

In [203]:
mylist[0] = 'NEW'

In [204]:
t[0] = 'new'

TypeError: 'tuple' object does not support item assignment

In [205]:
myset = set()

In [206]:
myset

set()

In [207]:
myset.add(1)

In [208]:
myset

{1}

In [209]:
myset.add(2)

In [210]:
myset

{1, 2}

In [211]:
mylist = {1,1,1,1,1,1,1,2,2,2,2,2,2,2,2,3,3,3,3,3}

In [212]:
set(mylist)

{1, 2, 3}


Boolean

In [216]:
type(False)

bool

In [220]:
type (1 == 1)

bool

In [221]:
b = None

In [222]:
type(b)

NoneType

File

In [279]:
%%writefile my_new_file.txt
Hello this is a text file
this is the second line
this is the third line

Overwriting my_new_file.txt

In [9]:
myfile = open('myfile.txt')

In [233]:
myfile = open('myfile.txt')

'/Users/youngbinha/Desktop/Python'

In [234]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [235]:
myfile.read()

''

In [18]:
myfile.seek(0)

0

In [242]:
contents = myfile.read()

In [243]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [19]:
myfile.readlines()

['Hello this is a text file\n',
 'this is the second line\n',
 'this is the third line\n',
 'FOUR ON FOURTH']

In [13]:
myfile = open('/Users/youngbinha/Desktop/Python/my_new_file.txt')

In [249]:
myfile.close()

In [253]:
with open('myfile.txt') as my_new_file :
    contents = my_new_file.read()

In [254]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [259]:
with open('myfile.txt',mode='r') as myfile:
    contents = myfile.read()

In [266]:
with open('my_new_file.txt', mode = 'r')as f:
    print(f.read())

Hello this is a text file
this is the second line
this is the third line
FOUR ON FOURTHFOUR ON FOURTH

In [280]:
with open('my_new_file.txt', mode = 'a')as f:
    f.write('FOUR ON FOURTH')

In [281]:
with open('my_new_file.txt', mode = 'r')as f:
    print(f.read())

Hello this is a text file
this is the second line
this is the third line
FOUR ON FOURTH

In [282]:
with open('asdfasdf.txt', mode='w')as f:
    f.write('I CREATED THIS FILE!')

In [283]:
with open('asdfasdf.txt',mode='r')as f:
    print(f.read())

I CREATED THIS FILE!

In [17]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line\nFOUR ON FOURTH'

In [20]:
%%writefile text.txt 
Hello World

Writing text.txt

In [23]:
myfile = open('text.txt')

In [38]:
x = open('test.txt','w+')

In [39]:
with open('test.txt',mode='w+') as f:
    print(f.write('Hello World'))

11

In [40]:
x.read()

'Hello World'

In [54]:
Ifile = open('dudqls.txt','r+')

In [53]:
pwd

'/Users/youngbinha/Desktop/Python'

In [61]:
Ifile.readlines()

['Hello World\n', ' this is the second line \n', ' this is the third line']

In [60]:
Ifile.seek(0)

0

In [91]:
d1={'':[{'':'','':'','':''}],'':['','','']}

In [93]:
d1[''][1]

''

In [82]:
d1['']

''

In [94]:
200!=201

True

In [95]:
200==201

False

In [96]:
1 < 2 < 3

True

In [97]:
1< 2 <3<4<5<6<7<8<9<10

True

In [98]:
1<2 and 2<3

True

In [100]:
standard=[1,2,3]

In [101]:
1==1 or 1==2

True

In [108]:
hungry = False
if hungry:
    print('FEED ME!')
else:
    print("I'm not hungry")

I'm not hungry

In [114]:
loc = 'Ulsan'
if loc =='Auto Shop':
    print("Cars are cool!")
elif loc =='Bank':
    print("Money's good")
elif loc == 'store':
    print("Welcome to the store!")
else:
    print("I do not know much")

I do not know much

In [117]:
name = 'Jose'

if name == 'Dohyung':
    print("Hello Dohyung")
elif name == 'Youngbin':
    print("Hello Youngbin")
else:
    print("Hello What's your name?")

Hello What's your name?

In [1]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [6]:
for num in mylist:
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [11]:
for num in mylist:
    # Check for even
    if num % 2==0:
        print(num)
    else:
        print(f'Odd Number:{num}')

Odd Number:1
2
Odd Number:3
4
Odd Number:5
6
Odd Number:7
8
Odd Number:9
10

In [15]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [18]:
mystring = 'Hello world!!!!!!!!!!!'

for letter in mystring:
    print('Diamond')

Diamond
Diamond
Diamond
Diamond
Diamond
Diamond
Diamond
Diamond
Diamond
Diamond
Diamond
Diamond
Diamond
Diamond
Diamond
Diamond
Diamond
Diamond
Diamond
Diamond
Diamond
Diamond

In [20]:
tup = (1,2,3)
for item  in tup:
    print(item)

1
2
3

In [41]:
mylist = [(1,2),(3,4),(5,6),(7,8)]

In [42]:
len(mylist)

4

In [43]:
for (a,b) in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [46]:
for key,value in mylist:
    print(value)

2
4
6
8

In [48]:
mylist = [(1,2,3),(5,6,7),(8,9,10)]

In [49]:
for a,b,c in mylist:
    print(c)

3
7
10

In [52]:
d = {'k1' : 1, 'k2':2,'k3':3}

for value in d.values():
    print(value)

1
2
3

In [104]:
x = 5

while x < 50:
    print(f'The current value of x is {x}')
    x = x + 4
else:
    print("X IS NOT LESS THAN 5")

The current value of x is 5
The current value of x is 9
The current value of x is 13
The current value of x is 17
The current value of x is 21
The current value of x is 25
The current value of x is 29
The current value of x is 33
The current value of x is 37
The current value of x is 41
The current value of x is 45
The current value of x is 49
X IS NOT LESS THAN 5

In [170]:
while True:
    response = input('   :')

    if int(response) == 27:
        print('   27 .')
        break
    else: 
        print('   {} '.format(response))

   :11
   11
   :29
   29
   :30
   30
   :27
   27 .

In [10]:
mystring = 'youngbin'

In [12]:
for letter in mystring:
    if letter == 'i':
        pass
    else:
        print(letter)

y
o
u
n
g
b
n

In [234]:
x = 20

while x < 50:
    
    if x ==2:
        break
    print(x)
    x -= 1

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3

In [1]:
x = 1231

while x < 1240:
    print(x)
    x = x + 1

1231
1232
1233
1234
1235
1236
1237
1238
1239

In [2]:
mylist = [1,2,3]

In [9]:
for num in range(0,100000,3333):
    print(num)

0
3333
6666
9999
13332
16665
19998
23331
26664
29997
33330
36663
39996
43329
46662
49995
53328
56661
59994
63327
66660
69993
73326
76659
79992
83325
86658
89991
93324
96657
99990

In [11]:
yb=list(range(0,11,2))

In [12]:
yb

[0, 2, 4, 6, 8, 10]

In [27]:

word = 'abcde'

for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [40]:
mylist1 = [1,2,3,4,5,6]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]

In [43]:
for a,b,c in zip(mylist1,mylist2,mylist3):
    print(b)

a
b
c

In [41]:
list(zip(mylist1,mylist2,mylist3))

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300)]

In [44]:
1 in [1,2,3]

True

In [45]:
'a' in 'a world'

True

In [50]:
index_count = 1
from random import randint

for letter in range(1,101,3):
    print('{}.{} virus  {}  '.format(index_count,100,letter))
    index_count += 1

1.100 virus  1
2.100 virus  4
3.100 virus  7
4.100 virus  10
5.100 virus  13
6.100 virus  16
7.100 virus  19
8.100 virus  22
9.100 virus  25
10.100 virus  28
11.100 virus  31
12.100 virus  34
13.100 virus  37
14.100 virus  40
15.100 virus  43
16.100 virus  46
17.100 virus  49
18.100 virus  52
19.100 virus  55
20.100 virus  58
21.100 virus  61
22.100 virus  64
23.100 virus  67
24.100 virus  70
25.100 virus  73
26.100 virus  76
27.100 virus  79
28.100 virus  82
29.100 virus  85
30.100 virus  88
31.100 virus  91
32.100 virus  94
33.100 virus  97
34.100 virus  100

In [71]:
d = {'mykey':345}

In [72]:
'mykey' in d.keys()

True

In [73]:
mylist = [10,20,30,40,100]

In [75]:
min(mylist) + max(mylist)

110

In [87]:
from random import randint

In [77]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [78]:
shuffle(mylist)

In [79]:
mylist

[5, 8, 6, 3, 4, 1, 10, 7, 2, 9]

In [90]:
mynum = randint(0,100)

In [91]:
mynum

41

In [95]:
result = input('Favorite Number ')

Favorite Number 30

In [96]:
type(result)

str

In [97]:
float(result)

30.0

In [159]:
mystring = 'Youngbin'

In [160]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [173]:
mylist = [x**2 for x in range(0,11) if x%2==0]

In [174]:
mylist

[0, 4, 16, 36, 64, 100]

In [175]:
celcius = [0,10,20,34.5]

fahrenheit = [((9/5)*temp +32) for temp in celcius]

In [176]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [178]:
fahrenheit = []

for temp in celcius:
    fahrenheit.append(((9/5)*temp +32))

In [179]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [180]:
results = [x if x%2==0 else 'ODD' for x in range(0,11)]

In [181]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [185]:
mylist = []

for x in [2,4,6]:
    for y in [1,10,100]:
        mylist.append(x*y)

In [186]:
mylist

[2, 20, 200, 4, 40, 400, 6, 60, 600]

In [187]:
mylist = [x*y for x in [2,4,6] for y in [1,10,100]]

In [188]:
mylist

[2, 20, 200, 4, 40, 400, 6, 60, 600]

In [35]:
mylist = [x**2 for x in range(0,11) if x%2==0]

In [36]:
mylist

[0, 4, 16, 36, 64, 100]

In [48]:
mylist = []

for num in range(0,11,1):
            if num%2==0:
                mylist.append(num**2)

In [49]:
mylist

[0, 4, 16, 36, 64, 100]

In [51]:
st = 'Print only the words that start with s in this sentence'

In [52]:
for word in st.split():
    if word[0] == 's':
        print(word)

start
s
sentence

In [83]:
stt = 'very vary bary various variety valuable volvo boy KFC'

In [84]:
for world in stt.split():
    if world[1] == 'a':
        print(world)

vary
bary
various
variety
valuable

In [64]:
for az in range(1,10,2):
    print(az)

1
3
5
7
9

In [73]:
malist = []

for qwe in range(1,50,1):
    if qwe%3==0:
        malist.append(qwe)

In [74]:
malist

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [75]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [76]:
[x for x in range(1,51) if x%3==0]

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [85]:
for word1 in st.split():
    if len(word1) %2 ==0:
        print(word1)

only
that
with
in
this
sentence

In [91]:
for number in range(1,101,1):
    if int(number)%15==0:
        print('FizzBuzz')
    elif int(number)%3==0:
        print('Fizz')
    elif int(number)%5==0:
        print('Buzz')
    else:
        print(number)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [92]:
st = 'Create a list of the first letters of every word in this string'

In [95]:
for strin in st.split():
    print(strin[0])

C
a
l
o
t
f
l
o
e
w
i
t
s

In [96]:
[sz[0] for sz in st.split()]

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

In [386]:
def order():
    print('   ')
    drink = input()
    print(drink, ' ')

In [387]:
order()

In [112]:
def price(num_drink):
    price_per_drink = 2500
    total_price = price_per_drink * num_drink
    return total_price

result = price(3)
print(' :', result)

 : 7500

In [149]:
def print_absolute():
    print(' ')
    numb = int(input())
    print('-',numb,' .')
    print(numb,'  :' ,abs(numb))

In [150]:
print_absolute()

12
- 12  .
12   : 12

In [127]:
(3*4-((-27+67)/4))**8

256.0

In [130]:
((512+1968-432)/2**4)+128

256.0

In [142]:
def name_function():
    print('Hello')

In [143]:
name_function()

Hello

In [151]:
def pig_latin(word):
    first_letter = word[0]
    
    # check if vowel
    if first_letter in 'aeiouAEIOU':
        pig_word = word + 'ay'
    else:
        pig_word = word[1:] + first_letter + 'ay'
        
    return pig_word

In [153]:
pig_latin('dkflrkEH rhwkdlakTM')

'kflrkEH rhwkdlakTMday'

In [187]:
def myfunc(name):
    print('Hello '+name)

In [188]:
myfunc('name')

Hello name

In [189]:
def myfunc(a,b,c=0,d=0,e=0):
    # Returns 5% of the sum of a and b
    return sum((a,b,c,d,e)) * 0.05

In [196]:
myfunc(40,60)

5.0

In [205]:
def myfunc(*args):
    for item in args:
        print(item)

In [206]:
myfunc(40,60,100,1,14)

40
60
100
1
14

In [210]:
def myfunc(**kwargs):
    print(kwargs)
    if 'fruit' in kwargs:
        print('My fruit of choice is {}'.format(kwargs['fruit']))
    else:
        print('I did not fine any fruit here')

In [211]:
myfunc(fruit='apply',veggie = 'lettuce')

{'fruit': 'apply', 'veggie': 'lettuce'}
My fruit of choice is apply

In [215]:
def myfunc(*args,**kwargs):
    print(args)
    print(kwargs)
    print('I would like {} {}'.format(args[0],kwargs['food']))

In [216]:
myfunc(10,20,30,fruit='orange',food = 'eggs', animal='dog')

(10, 20, 30)
{'fruit': 'orange', 'food': 'eggs', 'animal': 'dog'}
I would like 10 eggs

In [217]:
def myfunc(*args):
    return len(args)

In [218]:
myfunc(1,2,3,4,6,7,8)

7

In [223]:
def myfunc(*args):
    for item in args:
        if item%2 == 0:
            print(item)

In [225]:
myfunc(5,6,7,8)

6
8

In [235]:
def myfunc(word):
    new_string = ''
    for index,letter in enumerate(word):
        if index %2 == 0:
            new_string += letter.lower()
        else:
            new_string += letter.upper()
    return new_string

In [236]:
myfunc(word)

'aNtHrOpOmOrPhIsM'

In [231]:
word = 'Anthropomorphism'

In [237]:
def average_of_4_numbers(*args):
    average = sum(args)/len(args)
    print(average)

In [238]:
average_of_4_numbers(512,64,256,192)

256.0

In [239]:
def surface_of_triangle(height,width):
    fomula = (height * width ) / 2
    print(fomula)

In [240]:
surface_of_triangle(10,8)

40.0

In [23]:
"""LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd
lesser_of_two_evens(2,4) --> 2
lesser_of_two_evens(2,5) --> 5"""

def lesser_of_two_evens(a,b):
    if a%2==0 and b%2==0:
        if a<b:
            print(a)
        else:
            print(b)
    elif a%2!=0 or b%2!=0:
        if a>b:
            print(a)
        else:
            print(b)

In [263]:
lesser_of_two_evens(2,4)
lesser_of_two_evens(2,5)

2
5

In [24]:
"""ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
animal_crackers('Levelheaded Llama') --> True
animal_crackers('Crazy Kangaroo') --> False"""

def animal_crakers(text):
    dudqls = text.split()
    A1=dudqls[0]
    B1=dudqls[1]
    if A1[0] == B1[0]:
        print('True')
    else:
        print('Fales')
    pass

def animal_crackers(text):
    wordlist = text.split()
    
    return wordlist[0][0] == wordlist[1][0]

In [41]:
animal_crackers('Leverlheaded Llama')
animal_crackers('Crazy Kangaroo')
animal_crackers('Crazy Crazyboy')

True

In [25]:
"""MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False
makes_twenty(20,10) --> True
makes_twenty(12,8) --> True
makes_twenty(2,3) --> False"""

def make_twenty(n1,n2):
    if n1+n2 == 20 or n1==20 or n2==20:
        print('True')
    else:
        print('False')

In [34]:
make_twenty(12,8)
make_twenty(12,20)
make_twenty(11,1)

True
True
False

In [42]:
def make_tw(n1,n2):
    
    return (n1+n2) == 20 or n1 ==20 or n2==20

In [44]:
make_tw(12,8)
make_tw(11,1)

False

Level 1 Problems!!!!

In [26]:
"""OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
old_macdonald('macdonald') --> MacDonald

Note: 'macdonald'.capitalize() returns 'Macdonald'"""

def old_macdonald(name):
    dudql = ''
    for index,letter in enumerate(name):
        if index == 0 or index == 3:
            dudql += letter.upper()
        else:
            dudql += letter.lower()
    return dudql

In [68]:
old_macdonald('adas')

'AdaS'

In [66]:
def old_macdonald1(name):
    if len(name) > 3:
        return name[:3].capitalize() + name[3:].capitalize()
    else:
        return 'Name is too short !'

In [67]:
old_macdonald1('dflajsdlfajs;ldfj;asldfjsl')

'DflAjsdlfajs;ldfj;asldfjsl'

In [27]:
"""MASTER YODA: Given a sentence, return a sentence with the words reversed
master_yoda('I am home') --> 'home am I'
master_yoda('We are ready') --> 'ready are We'

Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

>>> "--".join(['a','b','c'])
>>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

>>> " ".join(['Hello','world'])
>>> "Hello world""""

def master_yoda(text):
    return ': '.join(text.split()[::-1])

SyntaxError: EOL while scanning string literal (<ipython-input-27-689eaa25ff9b>, line 13)

In [86]:
master_yoda('I am home')

'home: am: I'

In [153]:
def master_yyoda(text):
    wordlist = text.split()
    reverse_word_list = wordlist[::-1]
    return "  ".join(reverse_word_list)

In [154]:
master_yyoda('i love you so much')

'much  so  you  love  i'

In [28]:
"""ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200
almost_there(90) --> True
almost_there(104) --> True
almost_there(150) --> False
almost_there(209) --> True

NOTE: abs(num) returns the absolute value of a number"""

def almost_there(n):
    return (abs(100-n)<=10 or abs(200-n)<=10)

In [103]:
almost_there(111)

False

In [29]:
"""FIND 33:
Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

has_33([1, 3, 3])  True
has_33([1, 3, 1, 3])  False
has_33([3, 1, 3])  False"""

def has_33(nums):
    for i in range(0, len(nums)-1):
        if nums[i:i+2]==[3,3]:
            return True
        
    return False

In [139]:
has_33([1,3,3])

True

In [156]:
def has_33(nums):
    
    for i in range(0,len(nums)-1):
        if nums[i] == 3 and nums[i+1] ==3:
            return True
    return False

In [157]:
has_33([3,1,3])

False

AttributeError: 'list' object has no attribute 'spilt'

In [30]:
"""
PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
paper_doll('Hello') --> 'HHHeeellllllooo'
paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'"""

def paper_doll(text):
    result = ''
    for s in text:
        result += s *3
    return result

In [31]:
paper_doll('abracadabra')

'aaabbbrrraaacccaaadddaaabbbrrraaa'

In [158]:
def paper_dolls(text):
    result = ''
    
    for char in text:
        result += char*3
    return result

In [33]:
"""BLACKJACK: 
Given three integers between 1 and 11, 
if their sum is less than or equal to 21, 
return their sum. If their sum exceeds 21 and there's an eleven, 
reduce the total sum by 10. Finally, if the sum (even after adjustment) 
exceeds 21, return 'BUST'
blackjack(5,6,7) --> 18
blackjack(9,9,9) --> 'BUST'
blackjack(9,9,11) --> 19"""

def blackjack(a,b,c):
    
    if sum((a,b,c)) <=21:
        return sum((a,b,c))
    elif sum((a,c,b))<=31 and 11 in (a,b,c):
        return sum((a,b,c))-10
    else:
        return 'BUST'

In [148]:
blackjack(10,11,9)

20

In [149]:
blackjack(11,11,10)

'BUST'

In [34]:
"""SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
summer_69([1, 3, 5]) --> 9
summer_69([4, 5, 6, 7, 8, 9]) --> 9
summer_69([2, 1, 6, 9, 11]) --> 14"""

def summer_69(arr):
    total = 0
    add = True
    
    for x in arr:
        while add:
            if x != 6:
                total +=x
                break
            else:
                add = False
        while not add:
            if x !=9:
                break
            else:
                add = True
                break
    return total

In [231]:
summer_69([4,5,6,7,8,9])

9

In [219]:
def currency_exchange(won,usd):
    dollar = 0.00083
    dollarnow = won * dollar
    s = dollarnow - usd
    if s >0:
        print(s, '  .')
    else:
        print(s, '  .')

In [220]:
currency_exchange(2600,2.18)
currency_exchange(3400,2.85)
currency_exchange(11900,9.99)
currency_exchange(4600,3.86)

-0.02200000000000024   .
-0.028000000000000025   .
-0.11299999999999955   .
-0.041999999999999815   .

In [221]:
currency_exchange(5500,4.65)
currency_exchange(6100,5.13)

-0.08499999999999996   .
-0.06700000000000017   .

In [222]:
def dollarwon(wonn,usdd):
    
    x=usdd/wonn
    print(x,"1",1/x,".")

In [223]:
""""""
dollarwon(5500,4.65)
dollarwon(6100,5.13)

0.0008454545454545455 1 1182.7956989247311 .
0.000840983606557377 1 1189.083820662768 .

In [343]:
""""""
dollarwon(2600,2.18)
dollarwon(3400,2.85)
dollarwon(11900,9.99)
dollarwon(4600,3.86)
dollarwon(10900,9.07)

0.0008384615384615386 1 1192.6605504587155 .
0.0008382352941176471 1 1192.9824561403507 .
0.0008394957983193277 1 1191.1911911911911 .
0.0008391304347826087 1 1191.7098445595855 .
0.0008321100917431193 1 1201.7640573318631 .



CHALLENGING PROBLEMS!!!!!!!!!!!!

In [35]:
"""SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order
 spy_game([1,2,4,0,0,7,5]) --> True
 spy_game([1,0,2,4,0,5,7]) --> True
 spy_game([1,7,2,0,4,5,0]) --> False"""

def spy_game(nums):
    code = [0,0,7,'x','b']
    
    for num in nums:
        if num == code[0]:
            code.pop(0)
            
    return len(code)==2

In [249]:
spy_game([1,2,0,1,2,3,1,4,7,0,1,7,0])

True

In [38]:
"""
COUNT PRIMES: Write a function that returns the number of prime numbers that exist up to and including a given number
count_primes(100) --> 25

By convention, 0 and 1 are not prime."""

def count_primes(num):
    primes = [2]
    x = 3
    if num <2:
        return 0 
    while x <= num:
        for y in range(3,x,2):
            if x%y ==0:
                x+=2
                break
        else:
            primes.append(x)
            x+=2
    return len(primes)

In [41]:
count_primes(60000)

6057

In [ ]:
{1:'  *  ',2:' * * ',3:'*   *',4:'*****',
 5:'**** ',6:'   * ',7:' *   ',8:'*  * ',9:'*    '}

In [37]:
"""Just for fun:
PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
print_big('a')

out:   *  
      * *
     *****
     *   *
     *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns.
For purposes of this exercise, it's ok if your dictionary stops at "E"."""

def print_big(letter):
    patterns = {1:'  *  ',2:' * * ',3:'*   *',4:'*****',5:'**** ',6:'   * ',7:' *   ',8:'*  * ',9:'*    '}
    alphabet = {'A':[1,2,4,3,3],'B':[5,3,5,3,5],'C':[4,9,9,9,4],'D':[5,3,3,3,5],'E':[4,9,4,9,4]}
    for pattern in alphabet[letter.upper()]:
        print(patterns[pattern])

In [284]:
print_big('E')

*****
*
*****
*
*****

In [287]:
square = lambda num: num **2

In [288]:
square(5)

25

In [291]:
list(map(square,my_nums))

[1, 4, 9, 16, 25]

In [293]:
mynums = [1,2,3,4,5,6]

In [294]:
list(map(lambda num:num**2,mynums))

[1, 4, 9, 16, 25, 36]

In [295]:
names = ['Andy','Eve', 'Sally']

In [296]:
list(map(lambda x:x[::-1],names))

['ydnA', 'evE', 'yllaS']

In [297]:
range(5)

range(0, 5)

In [299]:
list(range(1,5))

[1, 2, 3, 4]

In [300]:
7%2

1

In [347]:
sentence = "the quick brown fox jumps over the lazy dog"
words1 = sentence.split()
word_lengths = [len(word) for word in words1 if word != "the"]
sum(word_lengths)

29

In [383]:
def func1():
    # calculate the total length of words, ignore word like 'the'. All inputs are lower cases.
    # this is the original function, do not change this function.
    sentence = "the quick brown fox jumps over the lazy dog"
    words = sentence.split()
    word_lengths = []
    for word in words:
        if word != "the":
            word_lengths.append(len(word))
    return sum(word_lengths)

def func1_list_comprehension():
    # rewrite the 'func1' below in list comprehension to achieve the same functionality
    # remove the 'pass' when you start coding, since 'pass' is only a placeholder
    sentence = "the quick brown fox jumps over the lazy dog"
    words1 = sentence.split()
    word_lengths = [len(word) for word in words1 if word != "the"]
    return(sum(word_lengths))

def func2():
    # form a new list, with only positive numbers in it
    # this is the original function, do not change this function.
    numbers = [34.6, -203.4, 44.9, 68.3, -12.2, 44.6, 12.7]
    newlist = []
    for n in numbers:
        if n > 0:
            newlist.append(n)
    return newlist

def func2_list_comprehension():
    # rewrite the 'func2' below in list comprehension to achieve the same functionality
    # remove the 'pass' when you start coding, since 'pass' is only a placeholder
    numbers = [34.6,-203.4 , 44.9,68.3,-12.2,44.6,12.7]
    newlist = [x for x in numbers if x>0]
    return(newlist)

def func3_square():
    # use list comprehension to generate a new list of x ** 2,  (x = 1, 2, 3, ... 9, 10)
    # return this new list, it should look like [1, 4, 9, ...]
    newwlist=[x**2 for x in range(1,10)]
    return(newwlist)

def func4_cube_odd():
    # use list comprehension to generate a new list of x * x * x, ( x = 1, 2, 3... 19, 20)
    # only use the odd numbers like 1,3,5.
    # Return a new list containing the cube of odd numbers like [1, 27, 125, ...]
    newww = [x*x*x for x in range(1,21) if x%2==1]
    return(newww)

def func5_vowel():
    # given a string 's'
    # use list comprehension to generate a new list, that only consists of the vowel letters: AEIOU, from string 's'
    # note, all input strings are capital letter.  Expect to return a new list of ['A', 'I', 'A', 'E', ....]
    s = 'MATH IS A GREAT SUBJECT BUT NOT EVERYONE LOVES IT'
    new1 = [x for x in s[::] if x=="A"or x== "E"or x== "O"or x=="I"or x=="U"]
    return(new1)


print('original func1 returns: %s, \n     new func1 returns: %s.' % (func1(), func1_list_comprehension()))
print('original func2 returns: %s, \n     new func2 returns: %s.' % (func2(), func2_list_comprehension()))
print('func3_square returns: %s' % func3_square())
print('func4_cube_odd returns: %s' % func4_cube_odd())
print('func5_vowel returns: %s' % func5_vowel())

original func1 returns: 29,
     new func1 returns: 29.
original func2 returns: [34.6, 44.9, 68.3, 44.6, 12.7],
     new func2 returns: [34.6, 44.9, 68.3, 44.6, 12.7].
func3_square returns: [1, 4, 9, 16, 25, 36, 49, 64, 81]
func4_cube_odd returns: [1, 27, 125, 343, 729, 1331, 2197, 3375, 4913, 6859]
func5_vowel returns: ['A', 'I', 'A', 'E', 'A', 'U', 'E', 'U', 'O', 'E', 'E', 'O', 'E', 'O', 'E', 'I']

In [380]:
s = 'MATH IS A GREAT SUBJECT BUT NOT EVERYONE LOVES IT'
new1 = [x for x in s[::] if x=='U']
new1

['U', 'U']

In [389]:
f = open('FB.csv.pdf')

FileNotFoundError: [Errno 2] No such file or directory: 'FB.csv.pdf'

In [1]:
def check_even(num):
    return num%2 == 0

mynums=[1,2,3,4,5,6]

list(filter(check_even,mynums))

[2, 4, 6]

In [4]:
square = lambda num: num**2

In [6]:
square(5)

25

In [9]:
a=15
b=8
c=12

if a-c > abs(c-b):
    print('    .')
else:
    print('    .')

    .

In [22]:
class person:
    def __init__(self,name):
        self.name = name
    
    def say_hello(self,to_name):
        print('Hello! '+ to_name+ ' I am '+ self.name)
        
john=person("John")
michael = person("Michael")
hannah = person("Hannah")
john.say_hello("Kevin")
michael.say_hello("Sam")
hannah.say_hello("John")

Hello! Kevin I am John
Hello! Sam I am Michael
Hello! John I am Hannah